.container {
    padding-top: 25px;
    padding-bottom: 25px;
}

label {
    width: 150px;
}

input,
select {
    width: 350px;
}

.value-input,
.value-date {
    width: 175px;
}

.upload-button {
    margin-left: 154px;
    margin-bottom: 10px;
}

.upload-progress-bar {
    width: 350px;
    margin-left: 154px;
}

textarea {
    width: 350px;
    height: 140px;
}

.save-button {
    margin-top: 15px;
}

.radio-button {
    width: 25px;
}